a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li{
    list-style: none;
}
.home{
   height: 90vh;
   background-image: url('../Images/events-heavenly-header.jpg');
   background-position: center center;
   background-size: cover;
   z-index: 0;
}
nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
nav a{
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}
nav a:hover{
    color: rgb(102, 24, 24);
}
li i{transition: .5s;}
li i:hover{color: rgb(102, 24, 24) ;}
.close{
    text-align: right;
}
.open{
    position: absolute;
    top:50% ;left: 0;
    font-size: 30px;
    cursor: pointer;
}
h1{
    font-size: 5rem;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    background-color:  rgba(230, 130, 133, 0.541);
}
h3{
    background-color: rgb(230, 130, 133);
    color: white;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}
#toggle p{
    background-color:#CCCCCC;
    padding: 10px;
    margin: 0;   
}
.first-inner p{
    display: block;
}
.inner{
    display: none;
}
#count{
    background-image:url('../Images/invitation-2508607__340.jpg') ;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}
.item3{
    padding: 20px;
    border: white 2px solid ;
    font-size: 30px;
    color: white;
}
.item4{
    border: 2px solid rgb(192, 189, 189);
    width: 40px;height: 40px;
    display: flex;justify-content: center;align-items: center;
    margin: 10px;
    color:gray;
}
.item4:hover{
background-color: crimson;
color: aliceblue;
border: none;
}
input{
    margin: 20px 0;
}
.main-color{
color: rgb(214, 46, 51);
}
.main-background{
    background-color: rgb(214, 46, 51);
}